:root {
  --black-text: #393939;
}

.sidebar-main {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: #f8f8f8;
  width: 20rem;
  left: -20rem;
  /* border-right: 1px solid #f2f2f2; */
  transition: all 0.5s ease 0s;
  z-index: 999;
}

.sidebar-close-icon {
  width: 2rem;
  float: right;
  cursor: pointer;
  margin: 0.3rem;
}

.sidebar-links-container {
  margin-top: 5rem;
}

.sidebar-links-container ul {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0;
}

.sidebar-links-container a {
  color: var(--black-text);
  display: block;
  padding-bottom: 0.5rem;
  text-decoration: none;
  width: 10rem;
  box-sizing: border-box;
}

a.sidebar-link-active {
  border-bottom: 0.3rem solid var(--black-text);
}

.sidebar-links-container li {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  font-family: monospace;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.sidebar-footer {
  position: inherit;
  bottom: 0;
  background: var(--black-text);
  display: block;
  color: #ffffff;
  height: 3em;
  width: inherit;
}

.sidebar-footer-image-container {
  margin: 0 auto;
  display: table;
}

.sidebar-footer-image {
  margin: 0;
  padding: 0.7rem 1rem;
}
